.addtodo{
    width:100px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 12px;
    height: 40px;
    color: white;
    background-color: lightskyblue;
    border: none;
    margin-top: 20px;
}
.details{
    width: 300px;
    
    border: 3px solid lightblue;
    text-align: center;
    /* margin-left: 600px; */
    border-radius: 12px;
    margin-top: 5px;
    
    
}
.icon1,.icon2{
    color: lightblue;
    
}
.icon2{
    margin-right: 2px;

}
.navaddbtn{
    width:100px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 12px;
    height: 40px;
    color: white;
    background-color: lightskyblue;
    border: none;
    margin-top: 20px;
}
.detail{
    color: white;
}

.todos_container{
    display: grid;
    place-items: center;
}


/* task.jsx styling */

p.username{
    margin-bottom:1em;
    font-weight: 700;
    text-transform: capitalize;
}

.detail p{
    margin:0;
}
.icons{
    display: flex;
    justify-content: flex-end;
}

.icons .icon2{
    border-radius: 50%;



}




.empty_container{
    border:5px dotted green;
    width:50%;
    height:300px;
    border-radius: 12px;
    margin:0 auto;
    display: grid;
    place-items: center;
    
}

.empty_container h1{
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: capitalize;
}

